[submodule "src/js/dist/sprintf.js"]
	path = src/js/dist/sprintf.js
	url = git@github.com:alexei/sprintf.js.git
[submodule "src/js/dist/underscore"]
	path = src/js/dist/underscore
	url = git@github.com:jashkenas/underscore.git
