
body {
    font-family: 'Comic Neue', sans, Arial;
    font-weight: 400;
}


#resourcedisplay .name {
    padding-left: 5px;
    padding-right: 15px;
}

#resourcedisplay .name:after {
    content: ":";
}
#resourcedisplay .value {

}
#resourcedisplay .max {
    
}

.plastic i.fa:before {
    content: "\f1c0";
}


.planks i.fa:before {
    content: "\f0c9";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}




button {
    border-radius: 8px;
    padding: 4px 6px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    box-shadow: 2px 2px 0px 0px rgba(36, 36, 36, 0.5);
    font-family: 'Comic Neue', Arial;
    font-size: 14px;
    font-weight: 800;
}

h1, h2 {
    font-family: 'Indie Flower';
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: 1px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

.fa {
    margin-right: 10px;
}

#log {
    border: 1px solid black;
    padding: 5px;
    width: 99%;
    height: 400px;
    overflow: auto;
}

#log .time {
	color: #666;
    width: 4em;
    display: block;
    float: left;
}

#buildings td {
    margin: 5px;
}

#buildings td:nth-child(1) {
    
}
#buildings td:nth-child(2) {
    text-align: left;
}
#buildings td:nth-child(3) {
    text-align: right;
}
#buildings td:nth-child(4) {
    padding-left: 50px;
    text-align: left;
}

#resetGame {
    float: right;
}

#the_ocean {
    min-height: 5em;
    /*width: 15em;*/
}
#the_ocean #dialog_options {
    display: none;
    /*float: right;*/
}
#the_ocean #dialog {
    height: 4em;
    overflow: auto;
}
button {
    display: inline;
    cursor: pointer;
}
button[disabled] {
    border-color: silver;
    box-shadow: 2px 2px 0px 0px rgba(36, 36, 36, 0.3);
    color: #B6B6B6;
    cursor: default;
}

.resources_low {
    color: #e00;
}