
body {
    font-family: opensans, sans, Arial;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.0em;
}

#log {
    border: 1px solid black;
    padding: 5px;
    width: 99%;
    height: 300px;
    overflow: auto;
}

#buildings td {
    margin: 5px;
}

#buildings td:nth-child(1) {
    
}
#buildings td:nth-child(2) {
    text-align: left;
}
#buildings td:nth-child(3) {
    text-align: right;
}
#buildings td:nth-child(4) {
    padding-left: 50px;
    text-align: left;
}

#resetGame {
    float: right;
}