
body {
    font-family: Clear Sans, sans, Arial;
}
button {
    border-radius: 8px;
    padding: 4px 6px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    box-shadow: 2px 2px 0px 0px rgba(36, 36, 36, 0.5);
}
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.0em;
}

#log {
    border: 1px solid black;
    padding: 5px;
    width: 99%;
    height: 300px;
    overflow: auto;
}

#log .time {
	color: #666;
}

#buildings td {
    margin: 5px;
}

#buildings td:nth-child(1) {
    
}
#buildings td:nth-child(2) {
    text-align: left;
}
#buildings td:nth-child(3) {
    text-align: right;
}
#buildings td:nth-child(4) {
    padding-left: 50px;
    text-align: left;
}

#resetGame {
    float: right;
}

#the_ocean {
    min-height: 5em;
    /*width: 15em;*/
}
#the_ocean #dialog_options {
    display: none;
    /*float: right;*/
}
#the_ocean #dialog {
    height: 4em;
    overflow: auto;
}
button {
    display: inline;
}